.container {
	background-color: rgb(211, 211, 211);
	padding: 2rem;
}

.container h1 {
	margin-top: 0;
	font-size: 3rem;
}

.container p {
	font-size: 1.5rem;
}

.select-label {
	font-size: 1.5rem;
}

.select {
	margin-left: 1rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.notes-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.note {
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}